{% extends "slack_app/base.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block body %}
<link href="{% static 'css/q_style.css' %}" rel="stylesheet">
<h1> QUESTIONS </h1>
        <div>
            <ul id="questionlist"></ul>
        </div>

     <div id="box4q">
        <h2>Ask a question:</h2><br>
            <textarea cols="65" rows="1">
            Please enter your question TITLE here...
            </textarea><br><br>

            <textarea cols="65" rows="4">
            Please enter your question DESCRIPTION here...
            </textarea><br><br>

                <input type="button" id="btnAdd" value="SUBMIT QUESTION">
    </div>

{% endblock %}
