{% extends "slack_app/base.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block body %}
<link href="{% static 'css/a_style.css' %}" rel="stylesheet">

  <p id="q_desc"></p>

  <span id="ans">ANSWERS:</span> <span id="click_thumbs">
      <img src="{% static 'images/thumbs-up.jpg' %}" alt="thumb" STYLE="width:82px; height:100px;"></span>
      <span id="down_votes"><img src="{% static 'images/thumbs-down.jpg' %}" alt="thumb"
          style="width:82px; height:100px;"></span>

  <table id="answers" col width=600px>
 </table>
{% endblock %}

{% block scripts %}
<script>question_id = {{ question_id }}</script>
<script src="{% static 'js/a_app.js' %}"></script>
{% endblock %}
